<% if @user %>
  <h5><%= @user.username %></h5>
  <section class='stats'>
    <%= render 'shared/stats' %>
  </section>
  <% if @user != current_user && user_signed_in? %>
    <%= render 'follow_form' %>
  <% end %>
  <div class="row">
    <section class='posts'>
      <%= render @posts %>
    </section>
  </div>
<% end %>
