<div class="container">
  <section id='about'>
    <h2>What is Defio?</h2>
    <p>Defio means <span class='strong'>Challenge</span> in Esperanto, a language buit to be the universal one.</p>
    <p>The main goal of Defio is to help you and others to follow and accomplish a challenge that you want to be part of</p>
    <div class="divider"></div>
    <h4>This month's challenge is Inktober!</h4>
    <%= image_tag 'inktober', class:'img-center responsive-img' %>
    <p>For this whole October we will be posting a drawing made with ink, every day. See the rules <%= link_to 'here', 'http://mrjakeparker.com/inktober' %></p>
  </section>
  <div class="divider"></div>
  <% if !user_signed_in? %>
    <section id='join'>
      <h3>Join the challenge now!</h3>
      <%= link_to 'Sign Up', new_user_registration_path, class:"waves-effect waves-light btn-large" %>
    </section>
  <% end %>
</div>
