body{
  font-weight: 300;
}

nav li {
  margin-left: 10px;
  margin-right: 10px;
}

.brand-logo{
  margin-left: 20px;
}

ul.right{
  margin-right: 10px;
}

.strong {
  font-weight: bold;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
